# Data files
/data/

/output/*
!/output/visualizations*

# Jupyter/Python
.ipynb_checkpoints/
__pycache__/
*.py[cod]

# Environment
.env
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak